.header{
    display: flex;
    justify-content: center;

}
body{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fstore.playstation.com%2Fru-ru%2Fproduct%2FEP9000-CUSA00077_00-FLOWERPS4000FULL&psig=AOvVaw0Y1xGccGPR16-ECYRXjHsV&ust=1647181057736000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCIj28OThwPYCFQAAAAAdAAAAABAD);
}
